@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;800;900&amp;display=swap");
:root {
    --body: #777777;
    --gray: #555555;
    --dark: #080229;
    --white: #ffffff;
    --border: #e8e8e8;
    --heading: #232d3b;
    --primary: #f3136b;
    --primary-light: #f31312;
    --primary-hover: #f313ff;
    --light-white: #f5f5f5;
    --placeholder: #777777;
    --sale: #dc3545;
    --rent: #03a70c;
    --booking: #7209af;
    --card-radius: 8px;
    --icon-radius: 50%;
    --btn-radius: 8px;
    --tab-radius: 0px;
    --src-radius: 8px;
    --form-radius: 8px;
    --primary-tshadow: 2px 3px 8px rgba(0, 0, 0, 0.1);
    --primary-bshadow: 0px 15px 35px 0px rgba(0, 0, 0, 0.1);
}
* {
    margin: 0px;
    padding: 0px;
    outline: 0px;
}
a {
    text-decoration: none;
    display: inline-block;
}
a:hover {
    text-decoration: none;
}
ul,
ol {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
span,
label {
    margin-bottom: 0px;
}
html,
body {
    scroll-behavior: smooth;
}
body {
    color: var(--body);
    font-size: 16px;
    font-weight: 400;
    font-family: "Heebo", sans-serif;
    line-height: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading);
}
h1 {
    font-size: 40px;
    line-height: 48px;
    font-weight: 700;
}
h2 {
    font-size: 38px;
    line-height: 46px;
    font-weight: 700;
}
h3 {
    font-size: 24px;
    line-height: 34px;
    font-weight: 700;
}
h4 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}
h5 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}
h6 {
    font-size: 16px;
    font-weight: 400;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: var(--placeholder);
    font-size: 15px;
    letter-spacing: 0.3px;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--placeholder);
    font-size: 15px;
    letter-spacing: 0.3px;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: var(--placeholder);
    font-size: 15px;
    letter-spacing: 0.3px;
}
input::placeholder,
textarea::placeholder {
    color: var(--placeholder);
    font-size: 15px;
    letter-spacing: 0.3px;
}
button:focus {
    outline: none;
}
.center-50 {
    text-align: center;
    margin-top: 50px;
}
.center-20 {
    text-align: center;
    margin-top: 20px;
}
.dropdown-list {
    width: 100%;
    display: none;
    background: var(--white);
    border-top: 2px solid var(--primary);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.dropdown-list li {
    border-bottom: 1px solid var(--border);
}
.dropdown-list li:last-child {
    border-bottom: none;
}
.dropdown-list li a span {
    color: var(--sale);
    margin-left: 10px;
}
.dropdown-link {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: var(--body);
    padding: 10px 0px 10px 50px;
    text-transform: capitalize;
    position: relative;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.dropdown-link:hover {
    color: var(--primary);
    background: var(--light-white);
}
.dropdown-link:hover::before {
    background: var(--primary);
}
.dropdown-link::before {
    position: absolute;
    content: "";
    top: 48%;
    left: 30px;
    width: 10px;
    height: 2px;
    background: var(--body);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.nasted-dropdown {
    height: 292px;
    padding: 0px 8px;
    overflow-y: scroll;
}
.nasted-dropdown li {
    border-bottom: 1px solid var(--border);
}
.nasted-dropdown li:last-child {
    border-bottom: none;
}
.nasted-menu {
    width: 100%;
    cursor: pointer;
    padding: 8px 0px;
    color: var(--body);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.nasted-menu:hover {
    color: var(--primary);
}
.nasted-menu p {
    font-size: 15px;
    text-transform: capitalize;
}
.nasted-menu p span {
    font-size: 12px;
    margin-right: 8px;
}
.nasted-menu i {
    font-size: 10px;
}
.nasted-menu-list {
    padding: 0px 15px;
    display: none;
}
.nasted-menu-list li a {
    font-size: 14px;
    padding: 6px 0px;
    position: relative;
    margin-left: 25px;
    color: var(--gray);
}
.nasted-menu-list li a::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 10px;
    height: 1px;
    background: var(--gray);
}
.nasted-menu-list li a:hover {
    color: var(--primary);
}
.nasted-menu-list li a:hover::before {
    background: var(--primary);
}
@media (min-width: 768px) and (max-width: 991px) {
    .nasted-dropdown {
        height: 200px;
    }
}
.btn {
    border: none;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid;
    padding: 14px 32px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: var(--btn-radius);
    text-shadow: var(--primary-tshadow);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.btn span {
    margin-left: 8px;
}
.btn i {
    margin-top: -1px;
}
.btn-inline {
    color: var(--white);
    background: var(--primary);
    border-color: var(--primary);
}
.btn-inline:hover {
    color: var(--white);
    background: var(--primary-hover);
    border-color: var(--primary-hover);
}
.btn-outline {
    color: var(--primary);
    background: var(--white);
    border-color: var(--primary);
}
.btn-outline:hover {
    color: var(--white);
    background: var(--primary-hover);
    border-color: var(--primary-hover);
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    border: none;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    border-radius: 0px;
    color: var(--heading);
    background: var(--light-white);
    border-bottom: 2px solid var(--border);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: var(--body);
    background: var(--light-white);
    border-color: var(--primary);
}
textarea.form-control {
    height: 215px;
    padding: 15px 20px;
}
.form-btn .btn {
    width: 100%;
    height: 50px;
    padding: 10px 30px;
}
.form-label {
    font-size: 16px;
    font-weight: 600;
    color: var(--gray);
    margin-bottom: 8px;
    text-transform: capitalize;
}
.form-control::-webkit-file-upload-button {
    height: 45px;
    border: none;
    background: none;
    color: var(--placeholder);
}
.form-control::-webkit-file-upload-button:focus {
    border: none;
    outline: none;
}
.tooltip {
    display: inline-block;
    position: relative;
    opacity: 1;
    z-index: 1;
}
.tooltip:hover .tooltext {
    visibility: visible;
    opacity: 1;
}
.tooltip:hover .top {
    bottom: 65%;
}
.tooltip:hover .bottom {
    top: 65%;
}
.tooltip:hover .left {
    right: 15%;
}
.tooltip:hover .right {
    left: 15%;
}
.tooltip .tooltext {
    position: absolute;
    z-index: 1;
    font-size: 11px;
    padding: 6px 6px;
    line-height: 10px;
    text-align: center;
    letter-spacing: 0.3px;
    border-radius: 4px;
    color: var(--white);
    background: var(--dark);
    font-family: sans-serif;
    text-transform: capitalize;
    border: 1px solid var(--light-white);
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.tooltip .tooltext::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 1px;
    background: var(--dark);
}
.tooltip .top {
    bottom: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.tooltip .top::before {
    bottom: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    border-right: 1px solid var(--light-white);
    border-bottom: 1px solid var(--light-white);
}
.tooltip .bottom {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
}
.tooltip .bottom::before {
    top: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    border-top: 1px solid var(--light-white);
    border-left: 1px solid var(--light-white);
}
.tooltip .left {
    top: 50%;
    right: 0%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.tooltip .left::before {
    right: -4px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    border-top: 1px solid var(--light-white);
    border-right: 1px solid var(--light-white);
}
.tooltip .right {
    top: 50%;
    left: 0%;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
}
.tooltip .right::before {
    left: -4px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(45deg);
    transform: translateY(-50%) rotate(45deg);
    border-left: 1px solid var(--light-white);
    border-bottom: 1px solid var(--light-white);
}
.nav {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.nav-tabs li {
    width: 100%;
}
.nav-tabs li .nav-link {
    width: 100%;
    border: none;
    padding: 16px 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--heading);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    border-radius: var(--tab-radius);
    border-bottom: 3px solid transparent;
    text-shadow: var(--primary-tshadow);
}
.nav-tabs li .nav-link:hover {
    background: var(--light-white);
    border-color: transparent;
}
.nav-tabs li .active {
    color: var(--primary) !important;
    background: var(--light-white) !important;
    border-color: var(--primary) !important;
}
.tab-pane {
    display: none;
    padding: 0px 50px;
}
.tab-pane.active {
    display: block;
}
@media (max-width: 575px) {
    .nav-tabs li .nav-link {
        padding: 10px 0px;
    }
    .tab-pane {
        padding: 0px 15px;
    }
}
@media (min-width: 576px) and (max-width: 991px) {
    .tab-pane {
        padding: 0px 25px;
    }
}
.breadcrumb {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    padding: 0px;
    margin: 0px;
}
.breadcrumb li {
    text-transform: capitalize;
}
.breadcrumb li a {
    color: var(--light-white);
    text-shadow: var(--primary-tshadow);
}
.breadcrumb li a:hover {
    color: var(--primary-light);
    text-decoration: underline;
}
.breadcrumb .active {
    color: var(--primary-light);
    text-shadow: var(--primary-tshadow);
}
.breadcrumb-item + .breadcrumb-item::before {
    color: var(--primary-light);
    text-shadow: var(--primary-tshadow);
}
.social-transparent li {
    display: inline-block;
    margin: 5px;
}
.social-transparent li a i {
    width: 40px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: var(--body);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.social-transparent li a i:hover {
    color: var(--white);
    background: var(--primary);
}
.section {
    padding: 120px 0px 0px;
}
.section-center-heading {
    text-align: center;
    margin-bottom: 45px;
}
.section-center-heading h2 {
    margin-bottom: 15px;
}
.section-center-heading h2 span {
    color: var(--primary);
}
.section-center-heading p {
    width: 600px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 28px;
}
.section-side-heading h2 {
    margin-bottom: 15px;
}
.section-side-heading h2 span {
    color: var(--primary);
    font-style: italic;
}
.section-side-heading p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
}
@media (max-width: 767px) {
    .section {
        padding: 60px 0px 0px;
    }
    .section-side-heading {
        margin-bottom: 60px;
    }
    .section-center-heading {
        margin-bottom: 30px;
    }
    .section-center-heading p {
        width: 100%;
        font-size: 16px;
        line-height: 26px;
    }
}
@media (max-width: 575px) {
    h2 {
        font-size: 28px;
        line-height: 36px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .section {
        padding: 80px 0px 0px;
    }
}
.header-part {
    background: var(--white);
}
.header-part .container {
    max-width: 100%;
    padding: 18px 25px;
}
.header-fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    background: #0d0633;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.5);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.header-fixed .header-widget li a span,
.header-fixed .header-widget li button span {
    color: var(--light-white);
}
.header-fixed .header-widget li a sup,
.header-fixed .header-widget li button sup {
    border: 2px solid var(--dark);
}
.header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.header-widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.header-widget li button,
.header-widget li a {
    border: none;
    outline: none;
    background: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.header-widget li button img,
.header-widget li a img {
    width: auto;
    height: 40px;
}
.header-widget li button i,
.header-widget li a i {
    width: 40px;
    height: 40px;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    color: var(--gray);
    background: var(--light-white);
    border-radius: var(--icon-radius);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.header-widget li button i:hover,
.header-widget li a i:hover {
    color: var(--white);
    background: var(--primary);
    text-shadow: var(--primary-tshadow);
}
.header-widget li button span,
.header-widget li a span {
    margin-left: 8px;
    color: var(--gray);
    font-weight: 500;
}
.header-widget li button sup,
.header-widget li a sup {
    position: absolute;
    top: -8px;
    right: -8px;
    height: 24px;
    font-size: 12px;
    padding: 0px 6px;
    line-height: 20px;
    border-radius: 50%;
    color: var(--white);
    background: var(--primary);
    border: 2px solid var(--white);
    text-shadow: var(--primary-tshadow);
    -webkit-box-shadow: var(--primary-bshadow);
    box-shadow: var(--primary-bshadow);
}
.header-left .header-widget li:nth-child(4) {
    display: none;
}
.header-logo {
    margin: 0px 50px;
}
.header-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.header-right .header-widget li {
    margin-right: 20px;
}
.header-right .btn {
    width: 180px;
    padding: 12px 0px;
    margin-left: 20px;
}
.header-search {
    position: relative;
    margin: 0px 50px;
    width: 100%;
}
.header-main-search .form-control {
    border: none;
    outline: none;
    width: 100%;
    height: 45px;
    padding: 0px 45px;
    color: var(--heading);
    background: var(--light-white);
    border-radius: var(--src-radius);
}
.header-main-search .form-control:focus {
    background: var(--light-white);
}
.header-main-search .active {
    border-radius: 8px 8px 0px 0px;
}
.header-main-search button {
    border: none;
    outline: none;
    background: none;
    position: absolute;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}
.header-search-btn {
    top: 0px;
    left: 0px;
}
.header-search-btn i {
    color: var(--gray);
}
.header-option-btn {
    top: 0px;
    right: 0px;
}
.header-option-btn i {
    color: var(--primary);
}
.header-search-option {
    position: absolute;
    top: 45px;
    left: 0px;
    z-index: 2;
    width: 100%;
    padding: 15px 0px 15px;
    background: var(--light-white);
    border-radius: 0px 0px 8px 8px;
    border-top: 1px solid var(--border);
    border-bottom: 2px solid #bbbbbb;
    display: none;
}
.header-search-option .row {
    margin: 0px;
}
.header-search-option .row .col-6,
.header-search-option .row .col-12 {
    padding: 0px 10px;
}
.header-search-option .form-group {
    margin: 0px 0px 15px;
}
.header-search-option .form-group .form-control {
    height: 40px;
    padding: 0px 15px;
    background: var(--white);
}
.header-search-option .form-btn .btn {
    height: 40px;
    padding: 8px 0px;
}
@media (max-width: 1199px) {
    .header-part .container {
        padding: 15px;
    }
    .header-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .header-widget li a i,
    .header-widget li button i {
        width: 38px;
        height: 38px;
        line-height: 36px;
    }
    .header-left {
        width: 100%;
    }
    .header-left .header-widget {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .header-left .header-widget li:nth-child(3) {
        display: none;
    }
    .header-left .header-widget li:nth-child(4) {
        display: block;
    }
    .header-logo {
        margin: 0px;
    }
    .header-right {
        display: none;
    }
    .header-search {
        margin-top: 20px;
        display: none;
    }
    .header-search.active {
        display: block;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .header-part .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .header-part .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .header-part .container {
        max-width: 960px;
    }
}
.navbar-item {
    border-bottom: 1px solid var(--border);
}
.navbar-link {
    font-size: 15px;
    font-weight: 500;
    padding: 12px 15px;
    color: var(--gray);
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.navbar-link:hover {
    color: var(--primary);
    background: var(--light-white);
}
.navbar-link i {
    font-size: 10px;
}
.sidebar-part {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all linear 0.2s;
    transition: all linear 0.2s;
}
.sidebar-body {
    position: fixed;
    left: -300px;
    top: 0px;
    width: 300px;
    height: 100vh;
    background: #fbfbfb;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.sidebar-part.active {
    visibility: visible;
    opacity: 1;
}
.sidebar-part.active .sidebar-body {
    left: 0px;
}
.sidebar-header {
    padding: 18px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
}
.sidebar-logo img {
    width: auto;
    height: 40px;
}
.sidebar-cross {
    border: none;
    outline: none;
    background: none;
}
.sidebar-cross i {
    font-size: 16px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    color: var(--gray);
    text-shadow: var(--primary-tshadow);
    -webkit-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.1);
}
.sidebar-cross i:hover {
    color: var(--white);
    background: var(--primary);
}
.sidebar-content {
    overflow-y: scroll;
    height: 100vh;
}
.sidebar-profile {
    text-align: center;
    padding: 18px 0px;
}
.sidebar-avatar {
    border-radius: 50%;
    border: 3px solid var(--primary);
    margin-bottom: 10px;
}
.sidebar-avatar img {
    width: 120px;
    border-radius: 50%;
    border: 3px solid var(--border);
}
.sidebar-name {
    color: var(--heading);
    margin-bottom: 10px;
}
.sidebar-btn {
    font-size: 12px;
    padding: 8px 18px;
}
.sidebar-menu {
    margin-bottom: 30px;
}
.sidebar-menu .nav-tabs li .nav-link {
    font-size: 12px;
    padding: 8px 0px;
}
.sidebar-menu .tab-pane {
    padding: 0px;
}
.sidebar-footer {
    padding-bottom: 120px;
    text-align: center;
}
.sidebar-footer p {
    font-size: 14px;
    color: var(--heading);
}
.sidebar-footer p a {
    color: var(--primary);
}
.sidebar-footer p a:hover {
    text-decoration: underline;
}
@media (max-width: 1199px) {
    .sidebar-footer {
        padding-bottom: 160px;
    }
}
@media (max-width: 575px) {
    .sidebar-part.active {
        visibility: visible;
        opacity: 1;
    }
    .sidebar-part.active .sidebar-body {
        left: 0px;
        width: 100%;
    }
}
.btmbar-part {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    padding: 10px 0px;
    background: var(--white);
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.1);
    display: none;
}
.btmbar-widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.btmbar-widget li button,
.btmbar-widget li a {
    border: none;
    outline: none;
    background: none;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.btmbar-widget li button i,
.btmbar-widget li a i {
    width: 35px;
    height: 35px;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    color: var(--gray);
    background: var(--light-white);
    border-radius: var(--icon-radius);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.btmbar-widget li button i:hover,
.btmbar-widget li a i:hover {
    color: var(--white);
    background: var(--primary);
    text-shadow: var(--primary-tshadow);
}
.btmbar-widget li button sup,
.btmbar-widget li a sup {
    position: absolute;
    top: -8px;
    right: -8px;
    height: 24px;
    font-size: 12px;
    padding: 0px 6px;
    line-height: 20px;
    border-radius: 50%;
    color: var(--white);
    background: var(--primary);
    border: 2px solid var(--white);
    text-shadow: var(--primary-tshadow);
    -webkit-box-shadow: var(--primary-bshadow);
    box-shadow: var(--primary-bshadow);
}
.btmbar-widget li button span,
.btmbar-widget li a span {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 85px;
    font-size: 12px;
    padding: 7px 3px;
    line-height: 12px;
    text-align: center;
    border-radius: 5px;
    color: var(--white);
    background: var(--dark);
    font-family: sans-serif;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.btmbar-widget li button span::before,
.btmbar-widget li a span::before {
    position: absolute;
    content: "";
    bottom: -4px;
    left: 50%;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
    width: 10px;
    height: 10px;
    border-radius: 1px;
    background: var(--dark);
}
.btmbar-widget li:nth-child(3) {
    margin-top: -30px;
}
.btmbar-widget li:nth-child(3) a i {
    width: 70px;
    height: 70px;
    line-height: 52px;
    font-size: 20px;
    color: var(--white);
    background: var(--primary);
    border: 8px solid var(--white);
}
.btmbar-widget li:nth-child(3) a i:hover {
    background: var(--primary);
}
.plus-btn:hover span {
    visibility: visible;
    opacity: 1;
    top: -25px;
}
@media (max-width: 1199px) {
    .btmbar-part {
        display: block;
    }
}
.footer-part {
    background: var(--dark);
    padding: 100px 0px 0px;
}
.footer-content h3 {
    color: #bbbbbb;
    font-weight: 500;
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid #333333;
    position: relative;
}
.footer-content h3::before {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0px;
    width: 60px;
    height: 2px;
    background: var(--primary);
}
.footer-address li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin-bottom: 21px;
}
.footer-address li:last-child {
    margin-bottom: 0px;
}
.footer-address li i {
    font-size: 20px;
    margin: 6px 20px 0px 0px;
}
.footer-address li p span {
    display: block;
    line-height: 30px;
}
.footer-widget li {
    margin-bottom: 20px;
}
.footer-widget li:last-child {
    margin-bottom: 0px;
}
.footer-widget li a {
    color: var(--body);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.footer-widget li a:hover {
    color: var(--light-white);
    text-decoration: underline;
}
.footer-info a {
    margin-bottom: 30px;
}
.footer-info a img {
    width: auto;
    height: 50px;
}
.footer-count li {
    margin-bottom: 30px;
}
.footer-count li:last-child {
    margin-bottom: 0px;
}
.footer-count li h5 {
    margin-bottom: 3px;
    letter-spacing: 0.3px;
    color: var(--light-white);
}
.footer-card-content {
    padding: 50px 0px;
    margin-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    border-top: 1px solid #333333;
}
.footer-payment a,
.footer-payment button,
.footer-option a,
.footer-option button,
.footer-app a,
.footer-app button {
    margin: 0px 5px;
}
.footer-payment a img,
.footer-app a img {
    width: auto;
    height: 38px;
}
.footer-option button {
    border: none;
    outline: none;
    background: none;
    margin: 0px 8px;
    width: 120px;
    padding: 5px 0px;
    border-radius: 8px;
    letter-spacing: 0.3px;
    color: var(--body);
    border: 1px solid var(--gray);
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.footer-option button:hover {
    color: var(--light-white);
    border: 1px solid var(--light-white);
}
.footer-option button i {
    margin-right: 8px;
}
.footer-end {
    background: #0d0633;
}
.footer-end-content {
    padding: 15px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer-end-content p a {
    color: var(--primary);
}
.footer-end-content p a:hover {
    text-decoration: underline;
}
@media (max-width: 991px) {
    .footer-content {
        margin-bottom: 30px;
    }
    .footer-end-content {
        padding: 25px 0px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    .footer-end-content p {
        margin-bottom: 10px;
    }
}
@media (max-width: 575px) {
    .footer-part {
        padding: 60px 0px 60px;
    }
    .footer-content,
    .footer-info {
        margin-left: 30px;
    }
    .footer-card-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .footer-payment,
    .footer-option {
        margin-bottom: 30px;
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .footer-part {
        padding: 80px 0px 60px;
    }
    .footer-card-content {
        margin-top: 20px;
    }
    .footer-payment a,
    .footer-payment button,
    .footer-option a,
    .footer-option button,
    .footer-app a,
    .footer-app button {
        margin: 5px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .footer-part {
        padding: 90px 0px 60px;
    }
    .footer-card-content {
        margin-top: 20px;
    }
    .footer-payment,
    .footer-option,
    .footer-app {
        text-align: center;
    }
    .footer-payment a,
    .footer-payment button,
    .footer-option a,
    .footer-option button,
    .footer-app a,
    .footer-app button {
        margin: 5px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .footer-part {
        padding-bottom: 60px;
    }
}
.newsletter {
    margin-bottom: 70px;
}
.news-content h2 {
    margin-bottom: 15px;
    color: var(--light-white);
}
.news-form {
    position: relative;
    margin-top: 23px;
}
.news-form input {
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    padding: 0px 200px 0px 20px;
    border-radius: var(--form-radius);
    background: var(--white);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);
}
.news-form .btn {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    padding: 10px 30px;
}
@media (max-width: 991px) {
    .newsletter {
        margin-bottom: 60px;
    }
    .news-content {
        margin: 0px 0px 30px;
    }
    .news-form {
        margin: 0px;
    }
}
@media (max-width: 575px) {
    .news-form input {
        padding: 0px 75px 0px 20px;
    }
    .news-form .btn {
        padding: 10px 20px;
    }
    .news-form .btn span {
        display: none;
    }
}
